* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  min-height: 100vh;
  background: #060a1f;
}

ul {
  padding-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

li {
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 0.6);
}

span {
  color: #fff;
}

a {
  color: rgba(255, 255, 255, 0.6);
}

label {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.6);
}

.menu {
  margin-top: 25px;
  padding-left: 15px;
  margin-bottom: 50px;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.swither {
  flex-direction: row;
}
.left {
  margin-left: 15px;
}

.input {
  margin-bottom: 50px;
  display: flex;
}

input {
  display: block;
  margin-right: 15px;
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: rgb(222, 222, 222);
  border-color: white;
}

.form {
  display: flex;
  align-items: end;
}

.button {
  width: 200px;
  height: 50px;

  margin-left: 50px;
  display: block;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;

  color: #fff;
  background-color: #127fd6;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;

  transition: background-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #ff006a;
}

.text {
  margin-right: 15px;
}

img {
  display: block;
  max-width: 100%;
}

#clock h2 {
  position: relative;
  display: block;
  color: #fff;
  text-align: center;
  margin: 10px 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: 0.8em;
}

#clock #time {
  display: flex;
}

#clock #time div {
  position: relative;
  margin: 0 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
}

#clock #time div span {
  position: relative;
  display: block;
  width: 100px;
  height: 80px;
  background: #2196f3;
  color: #fff;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  z-index: 10;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

#clock #time div span:nth-child(2) {
  height: 30px;
  font-size: 0.7em;
  letter-spacing: 0.2em;
  font-weight: 500;
  z-index: 9;
  box-shadow: none;
  background: #127fd6;
  text-transform: uppercase;
}

#clock #time div:nth-last-child(1) span {
  background: #ff006a;
}

#clock #time div:nth-last-child(1) span:nth-child(1) {
  background: #ec0062;
}
